<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.sga.gkmarket.security.dao.AdminDAO">

	<select id="getUser" resultType="AdminVO"> 
		select * from admin where admin_id = "test" and admin_password = "1234"
	</select>

</mapper>