<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.sga.gkmarket.main.dao.MainViewDAO">
	
	<!-- 전체 글수 가져오기 -->
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) from board
	</select>
	
	<!-- board_soldOut 3인 값의 개수 가져오기 -->
	<select id="selectSoldOut" resultType="int">
		select COUNT(*) from board WHERE board_soldout = 2
	</select>
	
	<!--  board_soldOut 1인 값의 개수 가져오기 (판매중) -->
	<select id="selectForSale"  resultType="int">
		select COUNT(*) from board WHERE board_soldout = 0
	</select>
	
	<!-- 해결된 질문 -->
	<select id="selectReplyDone" resultType="int">
		SELECT COUNT(*) from back_qna WHERE back_qna_question = 1 
	</select>
	
	<!-- 월별 가입회원수 -->
	<select id="selectUserMonth" resultType="int" parameterType="int">
		SELECT COUNT(*) from user WHERE DATE_FORMAT(user_insertdate, '%m') = ${month}
	</select>
	
	<!-- 가입회원 연령층 통계 -->
	<select id="selectUserAge" resultType="kr.sga.gkmarket.main.vo.UserAgeVO"> 
		select
			sum(if(date_format(now(),'%Y') - substring(USER_BIRTH,1,4) between 20 and 29 , 1, 0)) as age_20,
			sum(if(date_format(now(),'%Y') - substring(USER_BIRTH,1,4) between 30 and 39 , 1, 0)) as age_30,
			sum(if(date_format(now(),'%Y') - substring(USER_BIRTH,1,4) between 40 and 49 , 1, 0)) as age_40,
			sum(if(date_format(now(),'%Y') - substring(USER_BIRTH,1,4) between 50 and 59 , 1, 0)) as age_50,
			sum(if(date_format(now(),'%Y') - substring(USER_BIRTH,1,4) >= 60 , 1, 0)) as age_60
		from user;
	</select>
	
	<!-- 전체 가입자 수 -->
	<select id="selectAllUser" resultType="int">	
	SELECT COUNT(*) from user
	</select>
	
	<!-- 밴당한 유저 -->
	<select id="userBanned" resultType="int">
	SELECT COUNT(*) from user where user_banned = 1
	</select>
	
</mapper>