<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.sga.gkmarket.qna.dao.BackQnaReplyDAO">
	
	<!-- 저장 (1:1 문의 답변등록) --> 
	<insert id="insert" parameterType="BackQnaReplyVO">
		INSERT into 
			back_qnaReply (back_Qna_Reply_Content)
		values
			(#{back_Qna_Reply_Content})
	</insert>
	
	<!-- 수정 (1:1 문의 답변수정)  -->
	<update id="update" parameterType="BackQnaReplyVO">
		update back_qnaReply set
			back_Qna_Reply_Content = #{back_Qna_Reply_Content}
		where 
			back_Qna_Idx = #{back_Qna_Idx}
	</update>
	
	<!-- 삭제 (1:1 문의 답변삭제) -->
	<delete id="delete" parameterType="int">
		delete from back_qnaReply where back_Qna_Idx= #{back_Qna_Idx}
	</delete>	
	
	<!--게시글 하나의 댓글 개수 세기 -->
	<select id="commentCount" parameterType="int" resultType="int">
		select count(*) from back_qnaReply where back_qna_idx=#{back_Qna_Idx}	
	</select>
	
	<!-- 게시글 하나의 댓글 가져오기 -->
	<select id="selectComment" parameterType="int" resultType="BackQnaReplyVO">
		select * from back_qnaReply where back_Qna_Idx = #{back_Qna_Idx}
	</select>
	
	<!-- 댓글내용으로 그댓글의 글번호가져오기 -->
	<select id="selectByContent" parameterType="BackQnaReplyVO" resultType="int">
	SELECT back_qna_idx  FROM back_qnaReply WHERE back_qna_reply_content = #{back_Qna_Reply_Content}
	</select>
	
	<update id="selectContentIdx" parameterType="BackQnaReplyVO">
		update back_qnaReply set back_Qna_Idx = #{back_Qna_Idx} where back_Qna_Reply_Content = #{back_Qna_Reply_Content}
	</update>
	
	
</mapper>